body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    border-bottom: black solid 1px;
    padding-left: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    border-top: black solid 1px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin-bottom: 32px;
}

li:last-child {
    margin-bottom: 0;
}

.or {
    text-align: center;
}

.new {
    width: 100%;
}

.logo {
    height: 100px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button-holder {
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}